src/zeromq-4.0.3/
src/variant_tools/celery_main/
src/variant_tools/io_vcf_read.c
src/variant_tools.egg-info/
test/*.log
test/*.DB
test/*.proj
test/*.gz
test/*.tfam
test/*.vcf
test/.vtools_cache/
test/10
test/ann/testNSFP.DB
test/parent/
test/tmp_*_genotypes.h5
test/ceu/
test/sam1/
build
dist
boost_*
cgatools
sqlite
gsl
libplinkio
ucsc
*.swp
build
dist
*.pyc
*.log
variant_tools/assoTests.py
variant_tools/assoTests_wrap.cpp
variant_tools/cgatools.py
variant_tools/cgatools_wrap.cpp
variant_tools/swigpyrun.h
variant_tools/ucsctools.py
variant_tools/ucsctools_wrap.cpp
.DS_Store
