# $File: MANIFEST.in $
# $LastChangedDate: 2011-06-16 20:10:41 -0500 (Thu, 16 Jun 2011) $
# $Rev: 4234 $
#
# This file is part of variant_tools, a software application to annotate,
# summarize, and filter variants for next-gen sequencing ananlysis.
# Please visit http://varianttools.sourceforge.net for details.
#
# Copyright (C) 2011 Bo Peng (bpeng@mdanderson.org)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#

include setup.py
include vtools
include vtools_report
include test/*.py
include variant_tools/__init__.py
include variant_tools/annotation.py
include variant_tools/importer.py
include variant_tools/exporter.py
include variant_tools/liftOver.py
include variant_tools/project.py
include variant_tools/phenotype.py
include variant_tools/utils.py
include variant_tools/variant.py
include variant_tools/assoTests.i
include variant_tools/config.h
include variant_tools/config_mac.h
include variant_tools/config_linux.h
include variant_tools/config_solaris.h
include variant_tools/config_win32.h
include variant_tools/assoTests.h
include variant_tools/assoData.h
include variant_tools/action.h
include variant_tools/permutator.h
include variant_tools/assoData.cpp
include variant_tools/utils.h
include variant_tools/utils.cpp
include variant_tools/assoTests_py2.py
include variant_tools/assoTests_py3.py
include variant_tools/assoTests_wrap_py2.cpp
include variant_tools/assoTests_wrap_py3.cpp
include variant_tools/vt_sqlite3_py2.py
include variant_tools/vt_sqlite3_py3.py
include variant_tools/vt_sqlite3_ext.c
include sqlite/sqlite3.c
include sqlite/sqlite3.h
include sqlite/sqlite3ext.h
recursive-include sqlite/py2 *.h *.c
recursive-include sqlite/py3 *.h *.c
recursive-include variant_tools/gsl *.h *.c
include test/vcf/*
include test/txt/*
include test/phenotype/*
include test/ann/*
