# $File: MANIFEST.in $
# $LastChangedDate: 2011-06-16 20:10:41 -0500 (Thu, 16 Jun 2011) $
# $Rev: 4234 $
#
# This file is part of variant_tools, a software application to annotate,
# summarize, and filter variants for next-gen sequencing ananlysis.
# Please visit http://varianttools.sourceforge.net for details.
#
# Copyright (C) 2011 Bo Peng (bpeng@mdanderson.org)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
#

include setup.py
include vtools
include vtools_report
include variant_tools/__init__.py
include variant_tools/annotation.py
include variant_tools/importer.py
include variant_tools/update.py
include variant_tools/exporter.py
include variant_tools/liftOver.py
include variant_tools/project.py
include variant_tools/phenotype.py
include variant_tools/utils.py
include variant_tools/variant.py
include variant_tools/association.py
include variant_tools/tester.py
include variant_tools/compare.py
include variant_tools/pyper.py
include variant_tools/plinkfile.py
include variant_tools/preprocessor.py
include variant_tools/assoTests.i
include variant_tools/cgatools.i
include variant_tools/config.h
include variant_tools/config_mac.h
include variant_tools/config_linux.h
include variant_tools/config_solaris.h
include variant_tools/config_win32.h
include variant_tools/swigpyrun.h
include variant_tools/assoTests.h
include variant_tools/assoData.h
include variant_tools/action.h
include variant_tools/action.cpp
include variant_tools/assoData.cpp
include variant_tools/utils.h
include variant_tools/utils.cpp
include variant_tools/lm.h
include variant_tools/lm.cpp
include variant_tools/fisher2.h
include variant_tools/fisher2.c
include variant_tools/assoTests_py2.py
include variant_tools/assoTests_py3.py
include variant_tools/assoTests_wrap_py2.cpp
include variant_tools/assoTests_wrap_py3.cpp
include variant_tools/cgatools_py2.py
include variant_tools/cgatools_py3.py
include variant_tools/cgatools_wrap_py2.cpp
include variant_tools/cgatools_wrap_py3.cpp
include variant_tools/vt_sqlite3_py2.py
include variant_tools/vt_sqlite3_py3.py
#
# sqlite
include sqlite/sqlite3.c
include sqlite/sqlite3.h
include sqlite/sqlite3ext.h
include sqlite/vt_sqlite3_ext.c
recursive-include sqlite/py2 *.h *.c
recursive-include sqlite/py3 *.h *.c
#
# gsr
recursive-include gsl *.h *.c
#
# boost
recursive-include boost_1_49_0/boost *.hpp *.ipp
recursive-include boost_1_49_0/libs/detail *.cpp
recursive-include boost_1_49_0/libs/iostreams/src *.cpp
recursive-include boost_1_49_0/libs/regex/src *.cpp *.hpp
recursive-include boost_1_49_0/libs/filesystem/v2/src *.cpp *.hpp
recursive-include boost_1_49_0/libs/filesystem/v3/src *.cpp *.hpp
recursive-include boost_1_49_0/libs/system/src *.cpp *.hpp
#
prune boost_1_49_0/boost/accumulators
prune boost_1_49_0/boost/asio
prune boost_1_49_0/boost/assign
prune boost_1_49_0/boost/bimap
prune boost_1_49_0/boost/chrono
prune boost_1_49_0/boost/circular_buffer
prune boost_1_49_0/boost/flyweight
prune boost_1_49_0/boost/function_types
prune boost_1_49_0/boost/fusion
prune boost_1_49_0/boost/geometry
prune boost_1_49_0/boost/gil
prune boost_1_49_0/boost/graph
prune boost_1_49_0/boost/icl
prune boost_1_49_0/boost/interprocess
prune boost_1_49_0/boost/intrusive
prune boost_1_49_0/boost/mpi
prune boost_1_49_0/boost/msm
prune boost_1_49_0/boost/phoenix
prune boost_1_49_0/boost/polygon
prune boost_1_49_0/boost/property_tree
prune boost_1_49_0/boost/proto
prune boost_1_49_0/boost/ptr_container
prune boost_1_49_0/boost/python
prune boost_1_49_0/boost/random
prune boost_1_49_0/boost/signals2
prune boost_1_49_0/boost/spirit
prune boost_1_49_0/boost/test
prune boost_1_49_0/boost/thread
prune boost_1_49_0/boost/typeof
prune boost_1_49_0/boost/units
prune boost_1_49_0/boost/variant
prune boost_1_49_0/boost/wave
prune boost_1_49_0/boost/xpressive
#
# cgatools
include cgatools/core.hpp
recursive-include cgatools/util *.hpp *.cpp
recursive-include cgatools/reference *.hpp *.cpp
#
# libplinkio
include libplinkio/LICENCE
recursive-include libplinkio *.h *.c

# test
include test/*.py
include test/vcf/*
include test/txt/*
include test/phenotype/*
include test/ann/*
